$backgroundImage: url(../img/m-h-day.jpg);
$mainFont: "Hind", sans-serif;
$backgroundColor: #fff;
$backgroundCardColor: #21232e;
$fontColor: #2c2f3c;
$emphasisColor: #14a0c7;
$backgroundBanner: linear-gradient(90deg, #679709, #305ecb);
$backgroundButton: #699900;