$backgroundImage: url(../img/m-h-night.jpg);
$mainFont: "Fresca", sans-serif;
$backgroundColor: #21232e;
$backgroundCardColor: #3b3f50;
$fontColor: #fff;
$emphasisColor: #ff4e33;
$backgroundBanner: linear-gradient(90deg, #dfa604, #953150);
$backgroundButton: #e3ac00;
$font-sizes: ("small": 1rem);